
<div
class="modal fade"
id="operationClaimModel"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Rol Ekleme</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="claimAddForm">
          <div class="form-group">
          <label><span>Rol İsmi</span></label>
          <br>
          <input type="text" formControlName="name" class="form-control" required >
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Vazgeç
      </button>

      <button type="button" (click)="Add()" class="btn btn-primary">Kaydet</button>
    </div>
  </div>
</div>
</div>
