<section id="contact" class="contact-section pt-120 pb-105">
  <div class="container">
      <div class="row align-items-end">
          <div class="col-xl-6 col-lg-7">
              <div class="contact-wrapper mb-30">
                  <h2 class="mb-20 wow fadeInDown" data-wow-delay=".2s">İletisim</h2>
                  <p class="mb-55 wow fadeInUp" data-wow-delay=".4s">Aklınıza takılan her soruyu bize ulaşarak bize iletebilirsiniz. Profesyonel ekibimiz sizlere yardımcı olmaktan mutluluk duyacaktır.</p>
                  <form action="assets/mail.php" method="POST" id="contact-form" class="contact-form">
                      <div class="row">
                          <div class="col-lg-6 col-md-6">
                              <input type="text" id="name" name="name" placeholder="Adınız">
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <input type="email" id="email" name="email" placeholder="Email Adresiniz">
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <input type="text" id="phone" name="phone" placeholder="Telefon Numaranız">
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <input type="text" id="subject" name="subject" placeholder="Başlık">
                          </div>
                          <div class="col-lg-12">
                              <textarea name="message" id="message" rows="5" placeholder="Mesajınız"></textarea>
                          </div>
                      </div>
                      <button type="submit" class="theme-btn theme-btn-2">Mesaj Gönder</button>
                  </form>
              </div>
          </div>
          <div class="col-xl-6 col-lg-5">
              <div class="contact-map mb-30">
                  <div class="map-canvas">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.201834425586!2d29.23174031514629!3d41.0208400266011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad145faf8d3fd%3A0x76ecd091ca89f050!2sZarifisMetal%20%7C%7C%20Demir%20Do%C4%9Frama%20Ferforje%20Yang%C4%B1n%20Merdiveni!5e0!3m2!1str!2str!4v1632131932817!5m2!1str!2str"
                     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
