<div class="d-flex toggled" id="wrapper">
  <app-sidebar style="width: 16rem"></app-sidebar>
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <br>
<div class="container">
  <div class="text text-dark text-center">
    <h4>İSTATİSTİKLER</h4>
  </div>
<br>
  <div class="row align-items-center" >
  <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Toplam Araç Sayısı</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totolCarCount}} Adet</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-car fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm  font-weight-bold text-success text-uppercase mb-1">
                            Kiralık Araç Sayısı</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{numberofRentedVehicles}} Adet</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-address-card fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="text-sm  font-weight-bold text-success text-uppercase mb-1">
                      Toplam Müşteri Sayısı</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalNumberofCustomers}} Kişi</div>
              </div>
              <div class="col-auto">
                  <i class="fab fa-intercom fa-2x text-gray-300"></i>
              </div>
          </div>
      </div>
  </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-sm  font-weight-bold text-success text-uppercase mb-1">
                        Toplam Marka Sayısı</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalBrandCount}} Adet</div>
                </div>
                <div class="col-auto">
                    <i class="fab fa-intercom fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-sm  font-weight-bold text-success text-uppercase mb-1">
                          Toplam Model Sayısı</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalModelCount}} Adet</div>
                  </div>
                  <div class="col-auto">
                      <i class="fab fa-intercom fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-sm  font-weight-bold text-success text-uppercase mb-1">
                            Toplam  Para</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalMoneyEarned}} ₺</div>
                    </div>
                    <div class="col-auto">
                        <i class="fab fa-intercom fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>



</div>
</div>
<br />
</div>
</div>
