<div class="d-flex toggled" id="wrapper">
  <app-sidebar style="width: 16rem"></app-sidebar>
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div class="container">
      <h3 class="text text-center text-dark">Yetki Tablosu</h3>
      <table
        datatable
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="table table-striped table-hover responsive"
      >
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Adı-Soyadı</th>
            <th>Email</th>
            <th>Claim Id</th>
            <th>Yetki Düzeyi</th>
            <th>İşlemler</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userOperation of userOperationInfo">
            <td>{{ userOperation.id }}</td>
            <td>
              {{ userOperation.firstName + " " + userOperation.lastName }}
            </td>
            <td>{{ userOperation.email }}</td>
            <td>{{ userOperation.operationClaimId }}</td>
            <td>{{ userOperation.claimName }}</td>
            <td>
              <button
              class="btn btn-success"
              routerLink="/admin/user/useroperationclaimadd/{{
                userOperation.id
              }}"
            >
              Yetki Ata
            </button>

            <button class="btn btn-danger" (click)="Delete(userOperation)">Sil</button>
              <button
                class="btn btn-warning"
                routerLink="/admin/user/useroperationclaimupdate/{{
                  userOperation.id
                }}"
              >
                Güncelle
              </button>


            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
