<div
  class="modal fade"
  id="changepassword"
  tabindex="-1"
  aria-labelledby="changepassword"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="cotainer">
          <form [formGroup]="passwordUpdateForm">
            <div class="row">
              <div class="col-md-12">
                <label>Eski Şifreniz</label>
                <input
                  formControlName="oldPassword"
                  class="form-control"
                  type="password"
                  style="width: 95%"
                  id="input-old-password"
                  pInputText
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Yeni Şifreniz</label>
                <input
                  formControlName="newPassword"
                  class="form-control"
                  type="password"
                  style="width: 95%"
                  id="input-new-password"
                  pInputText
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-refresh"
          (click)="update()"
          label="Güncelle"
          class="btn btn-primary"
        >
          Şifreyi Değiştir
        </button>
      </div>
    </div>
  </div>
</div>
