<footer
  class="footer pt-100 img-bg"
  style="background-image: url(assets/img/common-bg.jpg)"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="footer-widget mb-60 wow fadeInLeft" data-wow-delay=".2s">
          <h4 style="color: whitesmoke" class="text-center">
            GenesisCarRental
          </h4>
          <div class="footer-social-links text-center">
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100008759044390"
                  ><i class="lni lni-facebook-filled"></i
                ></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/erenakgoz/"
                  ><i class="lni lni-linkedin-original"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/erenakgz/"
                  ><i class="lni lni-instagram-original"></i
                ></a>
              </li>
              <li>
                <a href="https://github.com/HasanErenAkgoz"
                  ><i class="bi bi-github"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
