<!DOCTYPE html>
<html lang="tr">
  <body style="max-height: 100%" class="page-top">
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav style="height: 45rem;"
          class="sb-sidenav accordion sb-sidenav-dark responsive"
          id="sidenavAccordion"
        >
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">İşlemler</div>
              <a class="nav-link" routerLink="/admin/dashbosrd">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashbosrd
              </a>
              <a class="nav-link" routerLink="/admin/cars">
                <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                Araçlarımız
              </a>
              <a class="nav-link" routerLink="/admin/brand/brandList">
                <div class="sb-nav-link-icon"><i class="fas fa-city"></i></div>
                Marka-Model
              </a>
              <a class="nav-link" routerLink="/admin/customer/customerList">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-address-book"></i>
                </div>
                Müşteri Bİlgileri
              </a>
              <a class="nav-link" routerLink="/admin/rental/carrental">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-truck-moving"></i>
                </div>
                Kira Listesi
              </a>
              <a
                class="nav-link collapsed"
                routerLink="#"
                data-toggle="collapse"
                data-target="#collapsePersonel"
                aria-expanded="false"
                aria-controls="collapsePersonel"
              >
                <div class="sb-nav-link-icon">
                  <i class="fas fa-user-friends"></i>
                </div>
                Yetkilendirme İşlemleri
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="panel-collapse collapse"
                id="collapsePersonel"
                aria-labelledby="headingOne"
                data-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" routerLink="/admin/claim/operationclaim">Claim İşlemleri
                  </a>
                  <a class="nav-link" routerLink="/admin/user/useroperationclaim">Yetki Atama</a>
                </nav>
              </div>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small"></div>
            Ticari Otomasyon
          </div>
        </nav>
      </div>
    </div>
    <script>
      Scripts.Render("~/bundles/jquery");
    </script>
  </body>
</html>
