<section
  class="hero-section"
  id="background"
  style="
    background-image: url('../../../assets/img/5bea31f180866296289137bf9d2e9a8e\ \(1\).jpg');
  "
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="
        row
        no-gutters
        slider-text
        js-fullheight
        align-items-end
        justify-content-start
      "
    >
      <div class="col-md-9 ftco-animate pb-5">
        <h2 class="mb-3 bread" style="color: black">
          Arabanı seç ve mükemmel yolculuğuna başla
        </h2>
      </div>
    </div>
  </div>
</section>
