<section id="home" class="hero-section">
  <div class="shapes">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
  </div>
  <div class="container">
      <div class="row align-items-center">
          <div class="col-xl-7 col-lg-7">
              <div class="hero-content-wrapper">
                  <h1 class="text-white wow fadeInDown" data-wow-delay=".2s">En uygun fiyata en kaliteli araçlar hizmetinizde</h1>
                  <p class="text-white wow fadeInLeft"  data-wow-delay=".4s"></p>
                  <a href="#" class="theme-btn wow fadeInUp" routerLink="/cars"  data-wow-delay=".6s">Araçlarımız</a>
              </div>
          </div>
          <div class="col-xl-5 col-lg-5">
              <div class="hero-img">
                  <img src="assets/img/carpng.png" alt="" class="wow fadeInRight"  data-wow-delay=".5s">
              </div>
          </div>
      </div>
  </div>
</section>
