<section id="feature" class="feature-section pt-150">
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-8 mx-auto">
              <div class="section-title text-center mb-55">
                  <h3 class="mb-20 wow fadeInUp" data-wow-delay=".2s">Size Özel Hizmetlerimiz</h3>
              </div>
          </div>
      </div>
      <div class="features-wrapper">
          <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                      <div class="feature-img mb-20">
                          <img src="assets/img/money.png" alt="">
                      </div>
                      <div class="feature-content">
                          <h5>Uygun Fiyatlı Araçlar</h5>
                          <p>Her bütçeye ve herkese uygun araçlarımız sizleri bekliyor</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                      <div class="feature-img mb-25">
                          <img src="assets/img/shield.png" alt="">
                      </div>
                      <div class="feature-content">
                          <h5>Kasko Güvencisi</h5>
                          <p>Aracınızı teslim aldığınız andan itibaren herhangi bir kazaya karışma durumunuzda hiç korkamnıza gerek yok.
                             Bütün araçlarımız kaskoludur ve siz değerli müşterilerimizden ücret talep edilmemektedir. </p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                      <div class="feature-img mb-20">
                          <img src="assets/img/clean.png" alt="">
                      </div>
                      <div class="feature-content">
                          <h5>Her müşteri sonrası profesyonel temizlik</h5>
                          <p>Sizin sağlığınızı düşünüyoruz ve profesyonel ekiplerimiz
                            ile birlikte salgından korunmanız için bütün araçlarımızı müşterilerimizden teslim alır almaz dezenfekte ediyoruz.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
